<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>

<body>
    <h1 class="h3 mb-2 text-gray-800">Room</h1>

    <div class="card shadow mb 4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Room</h6>
        </div>
        <div class="card-body">
            <form action="/movies/admin/rooms/save" method="POST" th:object="${room}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="id" class="form-label">ID Room</label>
                                <i th:errors="*{id}" class="justify-content-end text-danger"></i>
                            </div>
                            <input th:field="*{id}" type="text" class="form-control form-control-user"
                                placeholder="Enter ID Room..." th:readonly="${update}" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">

                            <div class="d-flex justify-content-between">
                                <label for="name" class="form-label">Name Room</label>
                                <i th:errors="*{name}" class="justify-content-end text-danger"></i>
                            </div>
                            <input th:field="*{name}" type="text" class="form-control form-control-user"
                                placeholder="Enter Name Rooms...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">

                            <div class="d-flex justify-content-between">
                                <label for="phone" class="form-label">Seat</label>
                                <i th:errors="*{soGhe}" class="justify-content-end text-danger"></i>
                            </div>
                            <input th:field="*{soGhe}" type="number" class="form-control form-control-user"
                                placeholder="Enter Seat number...">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="form-label">Theater</label>
                                <i th:errors="*{movietheaterRoom.id}" class="justify-content-end text-danger"></i>
                            </div>
                            <select th:field="*{movietheaterRoom.id}" class="form-control form-control-user">
                                <option value="">--- Choose Theater ---</option>
                                <option th:each="theater : ${theaters}" th:value="${theater.id}"
                                    th:text="${theater.name}"
                                    th:selected="${theater.id != null and room.movietheaterRoom != null and theater.id == room.movietheaterRoom.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success btn-user">
                    Save
                </button>
                <a th:href="@{|/movies/admin/rooms/delete/*{id}|}" class="btn btn-danger btn-user" id="deleteButton">
                    Delete
                </a>
                <a th:href="@{|/movies/admin/rooms/edit|}" class="btn btn-secondary btn-user">
                    Clear
                </a>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("deleteButton").addEventListener("click", function (e) {
            var confirmed = confirm("Are you sure you want to delete?");
            if (!confirmed) {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>