<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/movies/admin}">
            <div class="sidebar-brand-icon">
                <img th:src="@{/admin/img/vite.svg}" alt="">
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/movies/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#theater" aria-expanded="true"
                aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Theater</span>
            </a>
            <div id="theater" class="collapse" aria-labelledby="theater" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Theaters:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/theaters}">Theaters</a>
                    <a class="collapse-item" th:href="@{/movies/admin/theaters/edit}">Edit Theater</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#movie" aria-expanded="true"
                aria-controls="movie">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Movie</span>
            </a>
            <div id="movie" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Movie:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/movies}">Movies</a>
                    <a class="collapse-item" th:href="@{/movies/admin/movies/edit}">Edit Movie</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#room" aria-expanded="true"
                aria-controls="room">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Room</span>
            </a>
            <div id="room" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Rooms:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/rooms}">Room</a>
                    <a class="collapse-item" th:href="@{/movies/admin/rooms/edit}">Edit Room</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Account
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#account" aria-expanded="true"
                aria-controls="account">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Account</span>
            </a>
            <div id="account" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Accounts:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/accounts}">Accounts</a>
                    <a class="collapse-item" th:href="@{/movies/admin/accounts/edit}">Edit Account</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#role" aria-expanded="true"
                aria-controls="role">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Role</span>
            </a>
            <div id="role" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Roles:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/roles}">Roles</a>
                    <a class="collapse-item" th:href="@{/movies/admin/roles/edit}">Edit Role</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#authority" aria-expanded="true"
                aria-controls="authority">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Authority</span>
            </a>
            <div id="authority" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Movie Play:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/authority}">Authoritys</a>
                    <a class="collapse-item" th:href="@{/movies/admin/authority/edit}">Edit Authority</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Orther
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#moviePlay" aria-expanded="true"
                aria-controls="moviePlay">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Movies Play</span>
            </a>
            <div id="moviePlay" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Movie Play:</h6>
                    <a class="collapse-item" th:href="@{/movies/admin/movie-play}">Movies Play</a>
                    <a class="collapse-item" th:href="@{/movies/admin/movie-play/edit}">Edit MoviePlay</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/movies/admin/book-tickets}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Booktickets</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
</body>

</html>