<form action="/movie/search/key">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nhập tên phim..." aria-label="Recipient's search"
                aria-describedby="basic-addon2" id="inputSearch" name="searchNameMovie">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary m-0 p-2" id="basic-addon2">Sreach</button>
            </div>
        </div>
    </div>
</form>