<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/users/userIndex :: dynamic(~{:: body})}">

<body>
	<div class="col-6 mx-auto p-5 mt-5">
		<form>
			<div class="mb-3">
				<h2 class="col-12 mx-auto">Forgot PassWord</h2>
				<label for="exampleInputEmail1" class="form-label">Email:</label> <input
					type="email" class="form-control" id="exampleInputEmail1"
					aria-describedby="emailHelp" required>
			</div>

			<button type="submit" class="btn btn-primary">Send new
				Password</button>
		</form>

		<b>If you don't have an account, register <a th:href="/user/register">here</a>
			
	</div>
</body>
</html>